.add-task-form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;

    input, textarea, select {
        margin: 20px 0px;
        border: 1px solid rgb(194, 204, 255);
        border-radius: 4px;
        padding: 4px 10px;
    }

    input:focus, textarea:focus, select:focus {
        outline: none;
        border: 2px solid rgba(194, 204, 255, 0.8);
        box-shadow: 0px 0px 10px rgba(110, 81, 255, 0.4);
    }
}

.add-task {
    max-width: 120px;
    border: 1px solid rgb(101, 104, 255);
    border-radius: 4px;
    padding: 4px 10px;
    background-color: rgb(227, 231, 252);
    color: rgb(101, 104, 255);
    font-weight: 600;
}

.add-task:hover {
     background-color: rgb(101, 104, 255);
    color: white;
    cursor: pointer;
}

.error {
    color: rgb(255, 39, 39);
}